<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geeklog.mapper.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.geeklog.domain.Article" >
    <id column="article_id" property="articleId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt"  />
    <result column="modified_at" property="modifiedAt" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="tags" property="tags" jdbcType="VARCHAR" />
    <result column="display" property="display" jdbcType="BIT" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article
    where article_id = #{articleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.geeklog.domain.Article" >
    insert into article (article_id, title, created_at, 
      modified_at, user_id, category_id, 
      tags, display, content
      )
    values (#{articleId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{createdAt},
      #{modifiedAt}, #{userId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER},
      #{tags,jdbcType=VARCHAR}, #{display,jdbcType=BIT}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.geeklog.domain.Article" >
    update article
    <set>
      <if test="title != null">
        title = #{title},
      </if>
      <if test="modifiedAt != null">
        modified_at = #{modifiedAt},
      </if>
      <if test="userId != null">
        user_id = #{userId},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId},
      </if>
      <if test="tags != null">
        tags = #{tags},
      </if>
      <if test="display != null">
        display = #{display},
      </if>
      <if test="content != null">
        content = #{content},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select article_id, title, created_at, modified_at, user_id, category_id, tags, display, 
    content
    from article
    where article_id = #{articleId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select article_id, title, created_at, modified_at, user_id, category_id, tags, display, 
    content
    from article
  </select>
  <select id="queryNumOfArticles" resultType="int">
    SELECT count(1)
    FROM article
    <where>
      <if test="title != null">
        and title like concat('%', #{title}, '%')
      </if>
      <if test="tags != null">
        and tags like concat('%', #{tags}, '%')
      </if>
      <if test="categoryId != null">
        and category_id = #{categoryId}
      </if>
      <if test="userId != null">
        and user_id = #{userId}
      </if>
      <if test="display != null">
        and display = #{display}
      </if>
    </where>
  </select>
  <select id="queryPaging" resultMap="BaseResultMap">
    SELECT article_id, title, created_at, modified_at, user_id, category_id, tags, display,
    content
    FROM article
    <where>
      <if test="article.title != null">
        and title like concat('%', #{article.title}, '%')
      </if>
      <if test="article.tags != null">
        and tags like concat('%', #{article.tags}, '%')
      </if>
      <if test="article.categoryId != null">
        and category_id = #{article.categoryId}
      </if>
      <if test="article.userId != null">
        and user_id = #{article.userId}
      </if>
      <if test="article.display != null">
        and display = #{article.display}
      </if>
    </where>
    ORDER BY created_at DESC
    LIMIT #{rowIndex}, #{pageSize}
  </select>





</mapper>