<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geeklog.mapper.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.geeklog.domain.Article" >
    <id column="article_id" property="articleId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="modified_at" property="modifiedAt" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="tags" property="tags" jdbcType="VARCHAR" />
    <result column="display" property="display" jdbcType="BIT" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article
    where article_id = #{articleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.geeklog.domain.Article" >
    insert into article (article_id, title, created_at, 
      modified_at, user_id, category_id, 
      tags, display, content
      )
    values (#{articleId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{modifiedAt,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, 
      #{tags,jdbcType=VARCHAR}, #{display,jdbcType=BIT}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.geeklog.domain.Article" >
    update article
    set title = #{title,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      modified_at = #{modifiedAt,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      tags = #{tags,jdbcType=VARCHAR},
      display = #{display,jdbcType=BIT},
      content = #{content,jdbcType=LONGVARCHAR}
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select article_id, title, created_at, modified_at, user_id, category_id, tags, display, 
    content
    from article
    where article_id = #{articleId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select article_id, title, created_at, modified_at, user_id, category_id, tags, display, 
    content
    from article
  </select>
</mapper>